In [50]:
import os
import pandas as pd

from itertools import combinations
from collections import Counter

folder_path = '../../Datasets/Sales'
dataset_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

In [ ]:
merged_data = pd.DataFrame()

for file in dataset_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    merged_data = pd.concat([merged_data, df], ignore_index=True)

merged_data.to_csv('merged_dataset.csv', index=False)
merged_data.head()

### Adding a Month column to see seasonality and check the best month for sales

In [3]:
merged_data = merged_data[merged_data['Order Date'] != 'Order Date']
merged_data['Order Date'] = pd.to_datetime(merged_data['Order Date'], format='%m/%d/%y %H:%M')

In [5]:
if merged_data['Order Date'].isna().any():
    all_columns_nan = merged_data[merged_data['Order Date'].isna()].isna().all(axis=1)
    merged_data = merged_data[~(merged_data['Order Date'].isna() & all_columns_nan)]

merged_data['Order Date'] = merged_data['Order Date'].fillna(method='ffill').fillna(method='bfill')
#merged_data['Month'] = merged_data['Order Date'].str[0:2].astype('int16')
merged_data['Month'] = merged_data['Order Date'].dt.strftime('%B')

### Adding a Sales column

In [ ]:
merged_data['Quantity Ordered'] = merged_data['Quantity Ordered'].astype('int16')
merged_data['Price Each'] = pd.to_numeric(merged_data['Price Each'])
merged_data['Sale Value'] = merged_data['Quantity Ordered'] * merged_data['Price Each']

### Adding a City column and Hour of sale column

In [43]:
merged_data['City'] = merged_data['Purchase Address'].apply(lambda x: x.split(',')[1] + ' ' + x.split(',')[2].split(' ')[1])
merged_data['Hour of Sale'] = merged_data['Order Date'].dt.strftime('%H:%M')

### Grouping most sold products

In [49]:
products = merged_data[merged_data['Order ID'].duplicated(keep=False)]
products.loc[:, 'Grouped'] = products.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))
products = products[['Order ID', 'Grouped']].drop_duplicates()
products.head()

/tmp/ipykernel_231510/2688769586.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products.loc[:, 'Grouped'] = products.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))

    Order ID                                 Grouped
62    259420       Google Phone,USB-C Charging Cable
65    259422       Google Phone,USB-C Charging Cable
82    259438         iPhone,Lightning Charging Cable
103   259458  34in Ultrawide Monitor,ThinkPad Laptop
123   259477         LG Dryer,AAA Batteries (4-pack)

In [51]:
count = Counter()

for _ in products['Grouped']:
    row = _.split(',')
    count.update(Counter(combinations(row, 2)))

for k, v in count.most_common(10):
    print(f'{k}: {v}')

('iPhone', 'Lightning Charging Cable'): 1005
('Google Phone', 'USB-C Charging Cable'): 987
('iPhone', 'Wired Headphones'): 447
('Google Phone', 'Wired Headphones'): 414
('Vareebadd Phone', 'USB-C Charging Cable'): 361
('iPhone', 'Apple Airpods Headphones'): 360
('Google Phone', 'Bose SoundSport Headphones'): 220
('USB-C Charging Cable', 'Wired Headphones'): 160
('Vareebadd Phone', 'Wired Headphones'): 143
('Lightning Charging Cable', 'Wired Headphones'): 92

In [57]:
prods = merged_data.groupby('Product')
qtd_ord = prods['Quantity Ordered'].sum()
qtd_ord.idxmax()

'AAA Batteries (4-pack)'

In [36]:
merged_data.groupby('City')['Sale Value'].sum()

City
 Atlanta GA          2.795548e+06
 Austin TX           1.819614e+06
 Boston MA           3.661707e+06
 Dallas TX           2.768024e+06
 Los Angeles CA      5.452668e+06
 New York City NY    4.664400e+06
 Portland ME         4.497665e+05
 Portland OR         1.870765e+06
 San Francisco CA    8.262352e+06
 Seattle WA          2.747804e+06
Name: Sale Value, dtype: float32